<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AJAX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Star.html</welcome-file>
    <welcome-file>Users.jsp</welcome-file>
    <welcome-file>message.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StarServlet</display-name>
    <servlet-name>StarServlet</servlet-name>
    <servlet-class>cn.com.servlet.StarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarServlet</servlet-name>
    <url-pattern>/StarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StarServlet2</display-name>
    <servlet-name>StarServlet2</servlet-name>
    <servlet-class>cn.com.servlet.StarServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarServlet2</servlet-name>
    <url-pattern>/StarServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>cn.com.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
</web-app>